/* =============
    Employment
============= */

#employment-start {

    background-color: $off-white;

    div {

        #emp-hero {
            #emp-hero-img {
                background-image: url('../img/employment/stickers-hero.jpg');
                background-position: center;
                background-size: 300%;
                height: 500px;
                width: 100vw;
                background-position-y: -10px;

                @include md {
                    background-size: 200%;
                    background-position-y: -100px;
                    background-position-x: -160px;
                    width: 75vw;

                }

                @include lg {
                    height: 700px;
                    background-size: 150%;
                    background-position-y: -20px;
                    background-position-x: -160px;
                    width: 90vw;
                }

                @include xl {
                    width: 80vw;
                    background-size: 180%;
                    background-position-y: -150px;
                    background-position-x: -300px;

                }

                // position: relative;
            }

            #emp-title {
                // position: absolute;
                bottom: 200px;
                // right: 30px;
                text-align: left;
                margin-top: -300px;
                margin-bottom: 90px;
                padding: 0px 5px;
                color: $red;

                @include md {
                    margin-left: 25%;
                    margin-bottom: 180px;
                }

                @include lg {
                    margin-left: 15%;
                }

                @include xl {
                    text-align: center;
                    margin-left: 0px;
                    margin-top: -400px;
                }

            }

            h2 {
                text-align: left;
                margin-top: -50px;
                padding: 0px 80px 0px 20px;

                @include md {
                    padding-left: 15%;
                }

                @include lg {
                    margin-top: -120px;
                }

                @include xl {
                    margin-top: -20px;
                }
            }
        }

    }

    p {
        color: $red;
        padding: 100px 80px 0px 20px;

        @include md {
            padding-left: 33%;
            padding-right: 10%;
        }

        @include lg {
            padding-left: 50%;
            padding-right: 5%;
        }

    }
}

/* =============
    Pull Quote
============= */

#emp-quote {
    // z-index: 200;

    height: 100vh;
    background-color: $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    

    div {
        // border: solid red 2px;

        p {
            @include md {
                text-align: left;
            }


            padding: 0px 10px;
            // border: solid red 2px;
            display: flex;
            justify-content: center;
            align-items: center;

            color: $green-blue;

        }
    }
}

/* =============
    Suitcase Text
============= */

#emp-text {
    z-index: 90;
    background-color: $red;
    position: relative;
    // top: 0;

    #emp-text-content {

        #xl {
            @include xl {
                display: grid;
                grid-template-columns: auto 1440px auto;
                grid-template-areas: ". xl .";
            }

            #emp-text-grid {
                @include lg {
                    display: grid;
                    grid-template-columns: 42% auto;
                    grid-template-rows: autp auto;
                    grid-template-areas: "suitcase ctext"
                        "suitcase involved";
                }

                @include xl {
                    grid-area: xl;
                }

                #suitcase-img {
                    background-image: url('../img/employment/suitcase.jpg');
                    background-position: center;
                    height: 385px;
                    background-position-x: -100px;
                    width: 230px;                 
                    background-size: 270%;


                    @include md {
                        width: 45%;
                        background-size: 200%;
                    }

                    @include lg {
                        height: 500px;
                        grid-area: suitcase;
                        width: 42vw;
                        margin-top: 100px;
                        background-size: 150%;
                        background-position-x: -10px;

                    }

                    @include xl {
                        width: 530px;
                        margin-left: auto;
                    }
                }


                #emp-p1 {
                    color: $blue-black;
                    padding-bottom: 100px;

                    @include md {
                        padding-left: 25%;
                        padding-right: 12%;
                        margin: 0;
                    }

                    @include lg {
                        grid-area: ctext;
                        padding-left: 60px;
                    }

                    @include xl {
                        width: 500px;
                        padding-left: 100px;
                    }
                }

                h3 {
                    padding: 0px 20px 0px 20px;
                    margin-top: -55px;
                    color: $blue-black;

                    span{
                        color: $white;

                        @include md{
                            color: $blue-black;
                        }
                    }

                    @include md {
                        margin-top: -200px;
                        padding-left: 36%;
                        padding-right: 120px;
                        margin-bottom: 200px;
                    }

                    @include lg {
                        grid-area: involved;
                        margin-top: 0px;
                        margin-left: -80px;
                        padding-left: 0px;
                        padding-right: 200px;
                    }

                    @include xl {
                        padding-right: 400px;
                    }
                }
            }
        }

        #emp-p2 {
            padding: 0px 90px;

            @include lg {
                padding: 0px 20vw;
                margin-top: -40px;
            }

            @include xl {
                width: 700px;
            }
        }

        #emp-p3 {
            padding: 50px 90px 0 90px;

            @include lg {
                padding: 50px 10vw 0px 25vw;
            }

            @include xl {
                width: 900px;
            }
        }
    }
}

/* =============
    Map
============= */

#emp-map {
    background-color: $off-white;
    padding: 100px 0px;

    @include lg {
        padding: 0px;
    }

    @include xl {
        padding: 150px 0px;
        // height: 100vh;
    }

    @include xl {
        display: grid;
        grid-template-columns: auto 1440px auto;
        grid-template-areas: ". xl2 .";
    }

    #emp-map-content {
        @include lg {
            display: grid;
            grid-template-rows: 50% auto;
            grid-template-columns: 35% auto;
            grid-template-areas: "102p mapgrid"
                "designers mapgrid";
        }

        @include xl {
            grid-area: xl2;
        }

        #counter {
            color: $green-blue;
            display: grid;
            grid-template-rows: 1fr auto;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: ". tween ."
                ". positions .";
            

            @include md {
                grid-template-rows: 1fr;
                grid-template-columns: 15% auto auto 20%;
                grid-template-areas: ". tween positions .";
            }

            @include lg {
                grid-area: 102p;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr;
                grid-template-areas: "tween"
                    "positions";
                // padding-right: 20px;
                padding-top: 15vh;

            }

            @include xl {
                padding-top: 0px;
            }

            #count-tween {
                grid-area: tween;
                // margin-right: 80px;
                color: $green-blue;
                padding: 0 20px;

                font-size: rem-calc(100);
                text-align: center;
                // padding-left: 50px;

                @include md{
                    font-size: rem-calc(140);
                    margin-right: 0;
                    margin-left: auto;
                    
                }

                @include lg{
                    font-size: rem-calc(100);
                   text-align: center;
                   margin-left: 0;
                    // padding-left: 190px;

                }
                
            }

            #tween-text {
                grid-area: positions;
                margin: 0px;
                padding-left: 0px;
                text-align: center;
                line-height:rem-calc(30);
                color: $dark-blue;

                @include md {
                    // padding-left: 20px;
                    margin-right: auto;
                    text-align: left;
                    line-height:rem-calc(40);
                    margin-top: auto;
                    padding-bottom: 30px;
                    
                    padding-top: 30px;
                   width: 200px;
                    
                }

                @include lg {
                    text-align: center;
        
                    margin-top: -40px;
                    width: auto;
                    padding-top: 10px;
                    font-size: rem-calc(25);
                    line-height: rem-calc(35);
                    margin-right: 0;
                }
            }

        }

        #designers-wanted {
            color: $dark-red;

            @include lg {
                grid-area: designers;
                padding-right: 30%;
                // padding-left: 15%;
                
                padding-top: 90px;

            }

            p {
                text-align:left;
                padding-left: 60px;
                padding-right: 70px;
                font-size: rem-calc(18);
                line-height: rem-calc(30);

                @include md {
                    text-align: right;
                    padding-right: 12%;
                    padding-left: 45%;
                    margin-bottom: 0;
                }

                @include lg {
                    padding: 0px;
                    padding-left: 30%;

                    // display: inline-block;

                }
            }

            h3 {
                text-align: right;
                padding-left: 100px;
                padding-right: 60px;
                color: $dark-red;
                font-size: rem-calc(40);
                line-height: rem-calc(45);

                @include md {
                    text-align: left;
                }

                @include lg {
                    padding: 0px;
                    text-align: right;
                    // display: inline-block;
                }

                @include xl{
                    padding-left: 40%;
                }
            }
        }


        #google-map {
            padding: 100px 0px;

            @include md{
                padding: 100px 0px;
            }

            @include lg {
                grid-area: mapgrid;
                padding: 0px;
                border-left: solid 30px $dark-blue;
            }

            @include xl{
                border: none;
                // background-color: $dark-blue;
            }

            #map { 
               
                width: 100%;
                height: 400px;
                // background-color: grey;

                @include md {

                    height: 620px;
                }

                @include lg {
                    height: 100vh;
                    width: 100%;
                }

                @include xl {
                    height: 630px;

                }

            }
        }
    }
}

/* =============
   Cards
============= */

#emp-cards {
    background-color: $blue;
    z-index: 90;
    position: relative;

    #emp-cards-content {
        h4 {
            color: $dark-red;
        }

        #card-gallery {

            @include md {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(5, 1fr);
                // grid-column-gap: 0px;
                // grid-row-gap: 100px;
            }

            @include lg {
                grid-template-columns: auto 350px 350px auto;
                grid-template-rows: repeat(2, 430px);
                grid-template-areas: ". hi5 three ."
                    ". ssk bluestate .";
                // gap: 100px;
            }

            @include xl {
                grid-template-rows: 430px;
                grid-template-columns: auto 350px 350px 350px 350px auto;
                grid-template-areas: ". ssk hi5 three bluestate ."
            }

            .emp-card {
                margin-left: auto;
                margin-right: auto;
                background-color: $off-white;
                width: 250px;
                margin-bottom: 100px;

                @include md{
                    height: 300px;
                }

                @include lg{
                    height: auto;
                }
                


                img {
                    padding: 40px 0px 20px 0px;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                }

                h4 {
                    text-align: center;
                    padding: 40px 0px 20px 0px;

                    @include md {
                        text-align: left;
                        padding-left: 20px;
                    }


                }

                p {
                    text-align: left;
                    overflow: scroll;
                    height: 85px;
                    margin-top: 0px;
                    color: $blue-black;

                    @include md {
                        padding-left: 20px;
                    }

                    @include lg {
                        margin-top: 0px;
                        font-size: rem-calc(18);
                        height: 110px;
                       
                    }
                }

            }

            #high-five {
                @include md {
                    grid-area: 1 / 1 / 3 / 2;
                }

                @include lg {
                    grid-area: hi5;
                }

                img {
                    height: 80px;

                    @include lg {
                        padding-top: 30px;
                        padding-bottom: 25px;
                    }
                }

                h4 {
                    margin-top: -40px;
                }
            }

            #threei {
                @include md {
                    grid-area: 2 / 2 / 4 / 3;
                }

                @include lg {
                    grid-area: three;
                }

                img {
                    height: 35px;

                }

                h4 {
                    @include lg {
                        padding-bottom: 10px;
                    }
                }
            }

            #ssk {
                @include md {
                    grid-area: 3 / 1 / 5 / 2;
                }

                @include lg {
                    grid-area: ssk;
                }

                img {
                    height: 30px;


                }

                h4 {
                    @include lg {
                        margin-top: 10px;
                    }
                }
            }

            #blue-state {
                @include md {
                    grid-area: 4 / 2 / 6 / 3;
                }

                @include lg {
                    grid-area: bluestate;
                }

                img {
                    height: 40px;
                }
            }
        }

        #emp-end {
           
            p {
                color: $dark-blue;

                @include md {
                    padding: 0px 90px;
                }

                @include lg {
                    padding: 0 25vw;
                }
            }
        }
    }
}