/* =============
    Gallery
============= */
img{
    object-fit: cover;
}
.bold-text{
    font-weight: 700;
}
#gallery-hero{
    background-color: $off-white;
    div{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        @include md{
            display: flex;
            justify-content: flex-end;
        }
        img{
            display: none;
            @include md {
                display: block;
                height: 550px;
                width: 90%;
            }

            @include lg {
                height: 85vh;
            }
        }
        >div{
            background-image: url(../img/gallery/hero-1.jpg);
            width: 100vw;
            height: 70vh;
            @include md{
                height: auto;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-image: none;
                position: absolute;
                top: 0;
            }
            h1{
                text-align: center;
                color: $red;
                @include md{
                    text-align: left;
                    margin: 300px 0 0 6%;
                }
            }
        }
        p{
            margin: 0 15%;
            text-align: justify;
            color: $red;
            @include md{
                width: 550px;
                text-align: right;
                margin-right: 10%;
            }
        }
    }
}
#gallery-content-1{
    #gallery-quote-1{
        width: 100%;
        height: 80vh;
        background-image: url(../img/gallery/hero-2.jpg);
        background-size: cover;
        background-position: top center;
        display: flex;
        align-items: center;
        @include md{
            height: 100vh;
        }
        p{
            width: auto;
            margin: 5%;
            color: $off-white;
            @include md{
                margin-left: 10%;
                width: 70vw;
            }
            @include lg{
                
                width: 500px;
            }
        }
    }
    #gallery-container{
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        background-color: $off-white;
        h3 {
            color: $dark-red;
            font-size: rem-calc(30);
        }
        p{
            color: $dark-red;
            padding:0;
            text-align: left;
        }
        ul{
            display: flex;
            align-items: center;
            height: 100vh;
            background-color: $off-white;
            li{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-right: 35px;
                
                img{
                    width: 50vw;
                    height: 60vh;
                    @include md{
                        width: 30vw;
                    }
                    @include lg{
                        width: 25vw;
                        height: 60vh;  
                    }
                    @include xl{
                        width: 20vw;
                    }
                }
            }
            :nth-child(1){
                justify-content: flex-end;
                p{
                    text-align: right;
                }
            }
        }
    }
}
#gallery-content-2{
    background-color: $green-blue;
    height: 70vh;
    display: flex;
    align-items: center;
    
    @include lg{
        height: 100vh;
    }
    img{
        width: 40%;
        height: 70vh;
        @include md{
            width: 60%;
        }
        @include lg{
            height: 100vh;
        }
    }
    p{
        width: 230px;
        margin-left: -16%;
        text-align: justify;
        @include md{
            text-align: left;
            width: 350px;
            margin-left: -5%;
        }
    }
}
#gallery-content-3{
    background-color: $blue;
    display: grid;
    grid-template-areas: 
    "hope"
    "content-3";
    @include md{
        display: flex;
        align-items: center;
    }
    
    img{
        width: 100vw;
        grid-area: hope;
        @include md{
            width: 40%;
            margin-left: -20vw;
        }
        @include lg{
            width: 350px;
            margin-left: -16vw;
        }

    }
    >div{
        grid-area: content-3;
        background-color: $red;
        @include md{
            width: auto;
            height: auto;
        }
        @include lg{
            width: 80vw;
            height: auto;
        }
        p{
            text-align: justify;
            padding-left: 5%;
            padding-right: 5%;
            width: auto;
            color: $off-white;
            line-height: rem-calc(28);
            @include md{
                text-align: left;
                width: 50%;
                padding-left: 15%;
            }
            
        }
        :nth-child(1){
            padding-bottom: 0;
        }
        :nth-child(2){
            padding-top: 0;
        }
    }
}
#gallery-quote-2{
    background-color: $dark-blue;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @include lg{
        height: 100vh;
    }
    p{
        font-size: rem-calc(30);
        line-height: rem-calc(40);
        padding:0 7%;
        margin: 0;
        width: auto;
        color: $blue;
        text-align: center;
        @include md{
            font-size: rem-calc(42);
            line-height: rem-calc(60);
            width: 700px;
        }
        @include lg{
            width: 786px;
        }
    }
}
#gallery-content-4{
    background-color: $off-white;
    position: relative;
    @include xl{
        display: grid;
        grid-template-areas: ". container .";
        grid-template-columns: auto 1440px auto;
        >div {
            grid-area: container;
        }
    }
    #gallery-logo-1{
        display: grid;
        grid-template-areas: "p1" "i1";
        grid-template-rows: auto 300px;
        grid-gap: 20px;
        @include md{
            grid-template-columns: 50% auto;
            grid-template-rows: 200px;
            grid-template-areas: "i1 p1";  
        }
        @include lg{
            grid-template-rows: unset;
            margin-bottom: 50px;
         }
        img{
            grid-area: i1;
            width: 100%;
            height: 100%;
        }
        p{
            line-height: rem-calc(28);
            grid-area: p1;
            margin: 0 5%;
            @include md{
                margin: 0 15%;
            }
            @include lg{
                margin: 20% 20% 20% 10%;
            }
        }
    }
    #gallery-logo-2{
        display: grid;
        grid-template-rows: 300px auto 500px;
        grid-template-areas: 
        "i3"
        "p2"
        "i2"
        ;
        grid-gap: 20px;
        @include md{
            grid-template-columns: 50% auto;
            grid-template-rows: auto 500px;
            grid-template-areas: 
            "p2 p2"
            "i2 i3";
        }
        @include lg{
            grid-template-columns: auto 25% 25%;
            grid-template-rows: unset;
            grid-template-areas: 
            "p2 i2 i3"
            "p2 i2 i4";
        }
        img{
            width: 100%;
            height: 100%;
        }
        #i2{
            grid-area: i2;
        }
        #i3{
            grid-area: i3;
        }
        #i4{
            grid-area: i4;
        }
        p{
            line-height: rem-calc(28);
            margin: 5%;
            grid-area: p2;
            @include md{
                margin: 50px 9% 30px;
            }
            @include lg{
                margin: 20% 10% 20% 20%;
            }
        }
    }
}
#gallery-form{
    @include xl{
        display: grid;
        grid-template-areas: ". container .";
        grid-template-columns: auto 1440px auto;
        background-color: $red;
    }
    >div{
        margin-bottom: 100px;
        background-color: $red;
        display: flex;
        justify-content: flex-end;
        position: relative;
        @include md{
            margin-bottom: 0;
            padding-bottom: 100px;
        }
        @include xl{
            background-color: unset;
            justify-content: center;
            grid-area: container;
        }
        h3{
            color: $yellow;
            font-size: rem-calc(49);
            position: absolute;
            text-align: right;
            top: -3%;
            right: 8%;
            @include md{
                top: 9%;
                right: 8%;
            }
            @include lg{
                top: 12%;
                left: 8%;
                right: unset;
            }
            @include xl{
                top: 18%;
            }
        }
        form{
            width: 100%;
            background-color: $dark-blue;
            @include md{
                margin-top: 100px;
                
            }
            @include lg{
                margin-top: 0;
                width: 85%;
            }
            @include xl{
                margin-top: 100px;
                width: 70%;
            }
            p{
                color: $off-white;
                font-size: rem-calc(24);
                line-height: rem-calc(56);
                font-family: 'Libre Baskerville', sans-serif;
                text-align: left;
                width: 550px;
                margin: 0 5%;
                @include md{
                    text-align: center;
                    margin: 0;
                }
            }
            section{
                display: flex;
                @include md{
                    justify-content: center;
                }
                input,
                textarea {
                    border-radius: 0;
                    font-size: rem-calc(24);
                    font-family: 'Libre Baskerville', sans-serif;
                    text-align: center;
                    padding: 10px 10px;
                    outline: none;
                    background-color: $green-blue;
                }
                textarea{
                    padding: 10px 0;
                    width: 440px;
                    margin: 20px 5%;
                    @include md{
                        margin: 20px 0;
                    }
                }
            }
            
        }
        ::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $off-white;
            text-align: center;
        }

        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: $off-white;
            text-align: center;
        }

        ::-ms-input-placeholder {
            /* Microsoft Edge */
            color: $off-white;
            text-align: center;
        }
    }
}
input,
button,
textarea {
    border: none;
}
.button {
    align-items: center;
    font-family: 'Exo', sans-serif;
    font-size: rem-calc(20);
    background-color: $yellow;
    color: $red;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    transition: 0.25s;
    margin-left: 5%;

    @include md {
        margin-left: 0;
    }

    @include lg {
    }

    &:hover,
    &:active {
        color: $dark-red;
        background-color: $off-white;
    }
}

