/* =============
    Index
============= */

#index-background {

    background-color: $off-white;
}

/* --------------------------
    Intro
 --------------------------*/
#index-opening {

    @include md {
        height: 100vh;
    }

    >div {
        align-items: center;

        #index-opening-hero {
            background-image: url('../img/index/intro-index.jpg');
            background-size: 500%;
            background-position-x: -200px;
            // background-position: right center;
            background-repeat: no-repeat;
            height: 500px;
            // width: 100vw;

            @include md {
                background-size: 200%;
                height: 100vh;
            }
        }

        h1 {
            font-size: rem-calc(50);
            color: $blue-black;
            margin-top: -300px;
            padding-bottom: 90px;
            text-align: right;
            padding-right: 20px;

            @include md {
                font-size: rem-calc(80);
                // font-size: rem-calc(100);
                text-align: left;
                margin-top: -600px;
                padding: 0px 50px 100px 50px
            }

            @include lg {
                font-size: rem-calc(100);
                text-align: left;
                width: 80vw;
                margin-top: -650px;
                padding-left: 10vw;
            }

            @include xl {
                padding-right: 10vw;
                padding-left: 20vw;
                width: 60%;
            }
        }

        h2 {
            font-size: rem-calc(23);
            text-align: left;
            padding: 20px 30px;
            padding-bottom: 100px;
            color: $dark-blue;


            @include md {
                font-size: rem-calc(30);
                padding-top: 0px;
                text-align: left;
                padding-right: 20%;
                padding-left: 20%;
                color: $blue-black;

            }

            @include lg {
                padding-left: 10vw;
                margin-top: -50px;
                width: 40vw;
                text-align: left;
            }

            @include xl{
                padding-left: 20vw;
            }


        }

    }
}

/* --------------------------
   Experimentation
 --------------------------*/
#index-experimentation {
    height: 100vh;
    margin-bottom: 100px;

    @include md{
        margin-bottom: 0;
    }
    // background-color: $blue;
    >div {
        padding-top: 100px;
        padding-bottom: 100px;
        

        @include md {
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas:
                "e-t e-im"
                "e-c e-im";
        }



        img {
            grid-area: e-im;
            object-position: center;
            object-fit: cover;
            height: 45vh;
            width: 100vw;

            @include md {
                height: 75vh;
                width: 80vw;
                width: 100%;

            }

            @include lg {
                height: 75vh;
                width: 100%;

            }

            @include xl{
                margin-right: 10%;
                width: 100%;
                margin-left: -20%;
            }
        }

        h3 {
            margin-top: -100px;
            color: $blue-black;
            width: 80vw;
            grid-area: e-t;

            @include md {
                margin-top: 0;
                width: auto;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                text-align: right;
                margin-right: -100px;
            }

            @include lg {
                margin-right: -40vw;
                padding-top: 100px;
                padding-left: 50vw;

            }

            @include xl{
                margin-right: 0;
                padding: 0;
               
                padding-left: 30%;
            }
        }

        p {
            grid-area: e-c;
            padding-top: 50px;
            text-align: right;
            padding-right: 20px;
            padding-left: 20px;
            color: $dark-red;
            


            @include md {
                text-align: right;
                width: auto;
            }

            @include lg {
                text-align: right;
                padding: 20px 100px 0 9vw;
                margin-top: -300px;
            }

            @include xl{
                margin-top: 0px;
                padding-top: 70px;
                margin-right: -30%;
                padding-left: 40%;
            }
        }
    }
}

/* --------------------------
  Impact
 --------------------------*/
#index-impact {
    height: 100vh;
    

    >div {

        display: flex;
        justify-content: center;
        align-items: center;

        background-image: url('../img/impact/impact-intro-mobile.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        @include lg {
            height: 100vh;
            width: 100vw;
        }

        h3 {
            color: $dark-blue;
            // font-size: rem-calc(39);
            margin-top: -100px;

            @include md {
                color: $dark-red;
                // font-size: rem-c alc(50);
                padding-bottom: 20px;
                padding-left: 20vw;
            }

            @include lg {
                padding-left: 10vw;
            }

            @include xl{
                text-align: center;
                padding: 0;
                margin-left: auto;
                margin-right: auto;
                padding-bottom: 50px;
            }
        }

        p {
            padding-top: 20px;
            color: $blue-black;
            text-align: right;

            @include md {
                text-align: left;
                padding-left: 20vw;
            }

            @include lg {
                padding-left: 10vw;
                padding-right: 40vw;
                text-align: left;
            }

            @include xl{
                padding: 0;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                width: 50vw;
            }

            span {
                // font-weight: 700;
                // font-size: rem-calc(20);
                // padding-top: 50px;

                @include md {
                    // font-size: rem-calc(35);
                }
            }
        }


        // img{
        //     display: none;

        // @include md{
        //     display: initial;
        //     object-position: center;
        //     object-fit: cover;
        //     height: 30vh;
        // }
        // }

    }
}

/* --------------------------
  publicity
 --------------------------*/
#index-publicity {
    padding-top: 50px;
    z-index: 200;
    position: relative;
    background-color: $off-white;

    @include lg {
        height: 100vh;
    }

    >div {

        // height: 100vh;
        img {
            background-image: url('../img/employment/suitcase-old.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 50vh;
            width: 100vw;
            border: none;
            // margin-top: 200px;
            // display: flex;
            // justify-content: center;
            // align-items: flex-start;
            // flex-direction: column;
            margin-top: 50px;

            @include md {
                margin-right: 30vw;
                width: 70vw;
                height: 70vh;
            }

            @include lg {
                margin-right: 0;
                margin-right: 70vw;
                height: 70vh;
                width: 35vw;
                margin-top: 0;
            }

            @include xl{
                margin-left: 10%;
            }
        }

        h3 {
            color: $blue-black;
            // font-size: rem-calc(39);
            text-align: right;
            padding-left: 50px;
            padding-right: 20px;
            margin-top: -490px;
            padding-bottom: 100px;

            @include md {
                color: $dark-red;
                font-size: rem-calc(50);
                text-align: left;
                padding-right: 30vw;
                padding-left: 15vw;
                margin-top: -650px;
            }

            @include lg {
                padding-left: 25vw;
                padding-top: 150px;

                text-align: left;
                padding-right: 35vw;
            }

            @include xl{
                padding-left: 30%;
                padding-right: 40vw;
                padding-bottom: 50px;
            }
        }

        p {
            padding-top: 150px;
            padding-left: 40px;
            padding-right: 40px;

            @include md {
                text-align: left;
                padding-left: 40vw;
            }

            @include lg {
                padding-left: 50vw;
                text-align: left;
                padding-top: 0;
                padding-right: 10vw;
            }

            span {
                font-weight: 700;

                @include md {
                    font-size: rem-calc(35);
                }
            }
        }
    }
}

/* --------------------------
  history
 --------------------------*/
#index-history {
    height: 100vh;

    >div {

        img {
            background-image: url('../img/impact/moral-img.jpg');
            background-size: 800%;
            background-position: center;
            background-position-x: -950px;
            background-repeat: no-repeat;

            height: 100vh;
            width: 100vw;

            @include md {
                margin-top: 80px;
                background-size: 300%;
                background-position-x: -400px;
                margin-left: 20vw;
                width: 80vw;
                height: 70vh;
            }

            @include lg {
                height: 100vh;
                width: 100vw;
                background-size: 120%;
                background-position-x: -0px;
                margin-top: 0px;
                margin-left: 0vw;
            }
        }

        h3 {
            color: $dark-red;
            padding-right: 150px;
            // font-size: rem-calc(39);
            text-align: left;
            margin-top: -700px;

            @include md {
                color: $dark-red;
                // font-size: rem-calc(50);
                text-align: left;
                // padding-right: 15vw;
                padding-left: 10vw;
                margin-top: 0;
                margin-top: -450px;
            }

            @include lg {
                padding-left: 10vw;
                text-align: left;
                margin-top: -700px;
            }
        }

        p {
            padding-top: 20px;
            padding-left: 10px;
            padding-right: 40px;
            text-align: left;

            @include md {
                text-align: left;
                padding-left: 30vw;
                padding-right: 10%;
                color: $blue-black;
            }

            @include lg {
                padding-left: 10vw;
                text-align: left;
                padding-right: 50vw;
            }

            span {


                @include md {
                    color: $off-white;
                    // font-size: rem-calc(35);
                }

                @include lg {
                    color: $blue-black;
                }
            }
        }
    }
}

/* --------------------------
  Gallery
 --------------------------*/
// #index-gallery {
//     background-color: $green-blue;

//     h4 {
//         color: $blue-black;
//         font-size: rem-calc(39);
//         padding-left: 3vw;

//         @include md {
//             color: $dark-red;
//             text-align: center;
//             padding-left: 0;
//             font-size: rem-calc(50);
//         }

//         @include lg {
//             padding-left: 10vw;
//         }
//     }

//     #ind-gal {
//         padding-left: 5vw;

//         #ind-gal-1 {
//             background-image: url('../img/gallery/h-logo.jpg');
//             background-size: cover;
//             margin-top: 50px;
//             background-position: center;
//             background-repeat: no-repeat;
//             height: 50vh;
//             width: 90vw;
//         }

//         #ind-gal-2 {
//             background-image: url('../img/gallery/Jessica-Helfand.jpg');
//             background-size: cover;
//             margin-top: 50px;
//             background-position: center;
//             background-repeat: no-repeat;
//             height: 50vh;
//             width: 90vw;
//         }

//         #ind-gal-3 {
//             background-image: url('../img/gallery/Milton-Glaser.jpg');
//             background-size: cover;
//             margin-top: 50px;
//             background-position: center;
//             background-repeat: no-repeat;
//             height: 50vh;
//             width: 90vw;
//         }
//     }
// }
