/* =============
    Safi Honors Pg
============= */
#honors-page{
    p{
        margin: 0;
    }
}

/* =============
    Hero
============= */
#honors-hero {
    background-color: $off-white;
    height: 100vh;

    #honors-hero-img {
        background-image: url('../img/safi/mac-hero.jpg');
        background-position: center;
        background-size: 400%;
        background-repeat: no-repeat;
        height: 800px;
        width: 100vw;
        background-position-y: 50px;

        @include md{
            height: 500px;
            width: 80%;
            padding-top: 150px;
            margin-left: auto;
            background-size: 250%;
            background-position-y: -50px;
        }
    }

    #honors-title {
        color: $blue-black;
        bottom: 200px;
        font-size: rem-calc(70);
        text-align: left;
        margin-top: -500px;
        margin-bottom: 100px;
        padding: 0px 5px;

        @include md{
            padding-left: 30%;
            text-align: right;
            padding-right: 10%;
            font-size: rem-calc(100);
            margin-top: -380px;
            color: $dark-red;
        }
        
        @include lg {
            font-size: rem-calc(150);
        }
    }
}

/* =============
    Section 01
============= */
#honors-01 {
    height: 80vh;
    background-color: $green-blue;

    @include md{
        height: 100vh;
    }

    
    

    #honors-01-img {
        background-image: url('../img/safi/tablet-mac.jpg');
        background-position: center;
        background-size: 450%;
        height: 800px;
        // width: 100vw;
        background-position-y: -600px;
        background-position-x: -1000px;
        // display: none;

        @include md{
            width: 100vw;
            background-size: 200%;
            background-position: center;
            background-position-y: -500px;
            background-position-x: -700px;
        }

    }

    #honors-01-p {
        margin-top: -750px;
        padding: 100px 20px 0px 20px;
        color: $off-white;
        // height: 100vh;
        @include md {
            // display: flex;
            text-align: left;
            padding-top: 18%;
            padding-left: 15%;
            padding-right: 15%;
            font-size: rem-calc(17);
            line-height: rem-calc(23);

           

        }

     
           
    }
}

/* =============
    Logo Design 101
============= */

#honors-logo-design {
    background-color: $off-white;

    // @include md{
    //     display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // }
    div {
        h3 {
            text-align: right;
            padding-right: 10%;
            padding-left: 10%;
            margin-top: -350px;
            padding-bottom: 250px;
            color: $red;
            
            @include md{
                color: $dark-red;
                padding-left: 20%;
                text-align: left;
                margin-top: -400px;
            }
        }

        #honors-logo-img {
            width: 50vw;
            // margin-top: -100px;
            height: 50vh;

            @include md{
               padding-left: auto;
               margin-left: auto;
               display: block;
               width: 50vw;
               height: 60vh;
            }
        }

        p {
            color: $dark-red;

            @include md{
                padding-left: 20px;
                padding-right: 52%;
                margin-top: -150px;
                text-align: right;
            }
        }
    }
}

/* =============
   Rand
============= */

#honors-rand {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $blue;

    @include md{
        display: grid;
        grid-template-columns: 30% auto;
        grid-template-rows: 50% auto;
        grid-template-areas: "randlogo ."
                            ". randtxt";
    }

    #honors-rand-img {
        width: 80vw;
        margin-top: -50px;
        padding-bottom: 0px;

        @include md{
            width: 40vw;
            grid-area: randlogo;
            margin-top: auto;
            padding-left: 20%;
            
        }
    }

    p {
        padding-right: 20px;
        padding-left: 20px;
        // padding-top: 50px;
        color: $dark-red;

        @include md{
            grid-area: randtxt;
            margin-bottom: auto;
            padding-right: 10%;
        }
    }
}

/* =============
    Obama
============= */

#honors-obama {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $red;
    p {
        padding-right: 20px;
        padding-left: 15px;
        padding-top: 80px;
        color: $blue-black;
        text-align: right;
    }

    #honors-obama-img {
        width: 50vw;
    }
}

/* =============
    Critics
============= */

#honors-critics {
    background-color: $off-white;
    div {
        h3{
            padding-left: 20px;
            padding-bottom: 50px;
            padding-right: 40%;
        }

        #honors-critics-p1 {
            margin: 0;
            padding-left: 15px;
            padding-right: 15px;
        }

        #honors-critics-p2 {
            margin: 0;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 50px;
        }
    }
}

#honors-end-quote{
    height: 60vh;
    background-color: $blue;

    display: flex;
    justify-content: center;
    align-items: center;

    div{
        #hnrs-pull-quote{
            font-size: rem-calc(40);
            text-align: center;
            padding: 0px 10px;
            color: $dark-blue;
        }
    }
}