/* =============
    Navigation
============= */

#main-nav {
    
    display: flex;
    align-items: flex-end;
    // display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 900;
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-areas: 
    "img menu";
    @include md{
        grid-template-columns: 50% auto;
    }
    >div{
        grid-area: menu;
        background-color: $dark-blue;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ul {
        display: grid;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        "n1" 
        "n2"
        "n3" 
        "n4";
        height: auto;
        @include md {
            
        }
        @include lg{
            
        }
        
        li {
            font-family: 'Exo', sans-serif;
            a:link,
            a:visited {
                color: $yellow;
                text-decoration: none;
                transition: 0.25s;
                cursor: pointer;
                >div{
                    padding: 30px;
                    border-bottom: 2px solid $off-white;
                    text-align: right;
                    font-size: rem-calc(30);
                    @include md {
                        font-size: rem-calc(40);
                    }
    
                    @include lg {
                        font-size: rem-calc(50);
                    }
    
                    @include xl {
                        font-size: rem-calc(60);
                    }
    
                }
            
            }
        }
        
        // #nav-home {
        //     background-color: $white;
        //     grid-area: n1;
        // }

        #nav-impact {
            //background-color: $blue;
            grid-area: n1;
            a:hover,
            a:active {
                color: $red;
            }
        }

        #nav-experiment {
            //background-color: $dark-red;
            grid-area: n2;
            a:hover,
            a:active {
                color: $white;
            }
        }

        #nav-employment {
            grid-area: n3;
            //background-color: $yellow;
            a:hover,
            a:active {
                color: $dark-red;
            }
        }

        #nav-gallery {
            grid-area: n4;
            //background-color: $red;
            a:hover,
            a:active {
                color: $green-blue;
            }
            div{
                border-bottom: none;
            }
        }

        // #nav-safi {
        //     grid-area: n6;
        //     background-color: $blue-black;

        //     a:link,
        //     a:visited {
        //         color: $white;
        //     }
        // }
    }

    #nav-img{
        grid-area: img;
        width: 100%;
        height: 100%;
        background-image: url(../img/index/nav-img.jpg);
        background-size: cover;
        background-position: center;
    }
}
// section{
//     
// }